html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
  }

body {
	font-size: 1.2em;
	margin: 0;
	padding: 3em 5vw;
	--color-text: #111;
	--color-bg: #f8ecde;
	--color-link: #111;
	--color-link-hover: #fff;
	color: var(--color-text);
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: sofia-pro, sans-serif;
	border:0;
	height: 100%;
	width: 100%;
}

p {
	--color-text: #111;
	--color-bg: #f8ecde;
	--color-link: #111;
	--color-link-hover: #fff;
	color: var(--color-text);
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: sofia-pro, sans-serif;
	width: 75%;
}

h1 {
	font-size:2em;
	margin: 0;
	--color-text: #4d6648;
	--color-bg: #f8ecde;
	--color-link: #111;
	--color-link-hover: #fff;
	color: var(--color-text);
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: sofia-pro, sans-serif;
	font-weight: 900;
	font-style: italic;
	text-align: center;
}

.crosshair { 
	cursor: crosshair; 
			}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
	align-items: center;
      }
      
.flex-item {
    padding: 5px;
    width: 15%;
    height: 15%;
    margin:1%;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
      }
.button {
		border: none;
		background-color: #4d6648;
		--color-link: inherit;
		--color-link-hover: inherit;
		padding: 1em;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-family: sofia-pro, sans-serif;
		font-size: 1em;
		cursor: pointer;
		margin: 1em;
		width:12em;
		}
		a {
			color: inherit; 
			text-decoration: none; 
		}
		
		a:hover {
			color: inherit; 
			text-decoration: underline;
		}
* {
	box-sizing: border-box;
	}

.column {
  width: 50%;
  padding: 10px;
  margin:auto;
  float: left;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.images-wrapper {  
column-count:3;  
margin: 0 auto;
padding: 2em;
max-width:100%;
 }  

@media screen and (max-width: 600px) {
	.column {
	display:inline-flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	}
	.images-wrapper {
	column-count: 1;
	}
	.wrapper {
		height:fit-content;
		width:fit-content;
	}
}

.wrapper {
		height: 20em;
		width: 30em;
		justify-content: center;
		align-items: center;
  }
  
.marquee {
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	animation: marquee 10s linear infinite;
  }
  
.marquee p {
	display: inline-block;
  }
  
@keyframes marquee {
	0% {
	  transform: translate3d(0, 0, 0);
	}
	100% {
	  transform: translate3d(-50%, 0, 0);
	}
  }


  html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
  }
  
  /* Embed container with responsive width and height */
  .embed-container {
	position: relative;
	width: 100%;
	height: 100vh; /* Full height of the viewport */
  }
  
  embed {
	width: 100%;
	height: 100%;
	border: none;
	object-fit: cover;
  }



