css


body {
    background-color:#FDF8D8;
    font-family: 'Courier New', Courier, monospace;
    width: 800px; 
    margin: auto;
    color: #23231A;
    text-align: center;
    }
::selection {
        /* Change highlight background color to black */
        background: #709255;
        /* Change highlight text color to red */
        color: #FDF8D8;
      }    ::selection {
        /* Change highlight background color to black */
        background: #709255;
        /* Change highlight text color to red */
        color: #FDF8D8;
      }
h1 {
    color: #DA7422; 
    font-family: Courier;
    font-weight: bold;
    text-align: center;
    }
p { 
    color: #23231A;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    }
