css


body {
    background-color:#FDF8D8;
    font-family: 'Courier New', Courier, monospace;
    width: 800px; 
    margin: auto;
    color: #23231A;
    text-align: center;
    }
::selection {
        background: #709255;
        color: #FDF8D8;
      }
h1 {
    color: #DA7422; 
    font-family: Courier;
    font-weight: bold;
    text-align: center;
    }
p { 
    color: #23231A;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    }

    .button {
        background-color: #DA7422;
        border: none;
        color: #FDF8D8;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }
